<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600159883268-m4lhu63mvamfnc0n3fuals997ai5f5uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600159883268-m4lhu63mvamfnc0n3fuals997ai5f5uc</string>
	<key>API_KEY</key>
	<string>AIzaSyAeG_lo3GK6i3YaP6oFvQ5zoT7lzr5aTfA</string>
	<key>GCM_SENDER_ID</key>
	<string>600159883268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled24</string>
	<key>PROJECT_ID</key>
	<string>task-41454</string>
	<key>STORAGE_BUCKET</key>
	<string>task-41454.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600159883268:ios:cdb00775e217cbbb12a551</string>
</dict>
</plist>